.header-title{
    text-align: center;
}

.statistic-header{
    padding-bottom: 30px;
}

.error-message{
    z-index: 9999999;
    display: none;
}

.user-traffic-info-card{
    display: none;
}

.user-traffic-info-card__detail{
    display: none;
}

.user-traffic-info-card__detail-btn-hide{
    display: none;
}

.user-traffic-info-card__footer {
    height: auto;
    overflow: auto;
}

.user-traffic-info-card__btn {
    height: auto;
    width: 200px;
    padding: 5px;

    line-height: 3vh;
    font-size: 2vh;
}

/*error*/
.close-error-btn {
    position: absolute;
    top:0;
    right:0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2vh;
}
.close-error-btn span {cursor: pointer;}
.error-text {
    position: relative;
    float: left;
    height:auto;
    padding:10px;

    font-weight: bold;
    text-align: center;
}


.info-message{
    display: none;
}
.close-info-message-btn {
    position: absolute;
    top:0;
    right:0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2vh;
}
.close-info-message-btn span {cursor: pointer;}
.info-message-text {
    position: relative;
    float: left;
    height:auto;
    padding:10px;

    font-weight: bold;
    text-align: center;
}