/* Прелоадер */
.fga-preloader {
    display: none;

    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;

    z-index:99999;

    background-color: rgba(0, 0, 0, 0.6);
}

.fga-preloader__insider {
    display: none;
    
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;

    z-index:999999;

    background-color: rgba(0, 0, 0, 0.6);
}

.fga-preloader__image {
    width:100%;
    height:100%;

    background-position: center center;
    background-repeat: no-repeat;
}

.preloader__default {background-image: url(img/default.svg);}
.preloader__default_dark {background-image: url(img/default_dark.svg);}
.preloader__audio {background-image: url(img/audio.svg);}
.preloader__audio_dark {background-image: url(img/audio_dark.svg);}
.preloader__ball-triangle {background-image: url(img/ball-triangle.svg);}
.preloader__ball-triangle_dark {background-image: url(img/ball-triangle_dark.svg);}
.preloader__bars {background-image: url(img/bars.svg);}
.preloader__bars_dark {background-image: url(img/bars_dark.svg);}
.preloader__circles {background-image: url(img/circles.svg);}
.preloader__circles_dark {background-image: url(img/circles_dark.svg);}
.preloader__grid {background-image: url(img/grid.svg);}
.preloader__grid_dark {background-image: url(img/grid_dark.svg);}
.preloader__hearts {background-image: url(img/hearts.svg);}
.preloader__hearts_dark {background-image: url(img/hearts_dark.svg);}
.preloader__oval {background-image: url(img/oval.svg);}
.preloader__oval_dark {background-image: url(img/oval_dark.svg);}
.preloader__puff {background-image: url(img/puff.svg);}
.preloader__puff_dark {background-image: url(img/puff_dark.svg);}
.preloader__spinning-circles {background-image: url(img/spinning-circles.svg);}
.preloader__spinning-circles_dark {background-image: url(img/spinning-circles_dark.svg);}
.preloader__tail-spin {background-image: url(img/tail-spin.svg);}
.preloader__tail-spin_dark {background-image: url(img/tail-spin_dark.svg);}
.preloader__three-dots {background-image: url(img/three-dots.svg);}
.preloader__three-dots_dark {background-image: url(img/three-dots_dark.svg);}