<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/bootstrap/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/resources/css/datetimepicker/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/css/index.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/js/preloader/falconga_preloader.css}"/>
    <title>hello</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 alert alert-danger error-message">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 close-error-btn"><span
                    class="glyphicon glyphicon-remove error-message-close"></span></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 error-text"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row statistic-header"><h1 class="header-title">Система отчета по трафику абонентов</h1></div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 user">
            <label for="user-list">Пользователи:</label>
            <select class="form-control user-list" id="user-list">
                <option th:each="user : ${users}"
                        th:value="${user.getId()}"
                        th:text="${user.getSurname()+' '+user.getName()+' '+user.getPatronymic()}">user
                </option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 traffic-direct">
            <label for="trafficDir-list">Направление трафика:</label>
            <select class="form-control trafficDir-list" id="trafficDir-list">
                <option th:each="trafficDir : ${trafficDirections}"
                        th:value="${trafficDir.getId()}"
                        th:text="${trafficDir.getName()}">direction
                </option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <label for="datetimepicker-start">Начало отчетного периода:</label>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker-start">
                    <input type="text" class="form-control period-start"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <label for="datetimepicker-end">Конец отчетного периода:</label>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker-end">
                    <input type="text" class="form-control period-end"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button type="button" class="btn btn-primary submit-button">Сформировать</button>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 alert alert-info info-message">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 close-info-message-btn"><span
                        class="glyphicon glyphicon-remove info-message-close"></span></div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 info-message-text"></div>
            </div>
        </div>
    </div>
    <!--Карточка пользователя-->
    <div class="container user-traffic-info-card">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="panel panel-info">
                    <div class="panel-heading user-traffic-info-card__header">
                    </div>
                    <div class="panel-body user-traffic-info-card__body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                                th:src="@{/resources/img/user-silhouette.png}"
                                                                                class="img-circle img-responsive"></div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table">
                                    <tbody class="user-traffic-info-card__table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer user-traffic-info-card__footer">
                        <span class="pull-right">
                            <button type="button" data-loading-text="Loading..."
                                    class="btn btn-default user-traffic-info-card__btn user-traffic-info-card__close-card">
                                Закрыть <i class="glyphicon glyphicon-remove"></i>
                              </button>
                            <button type="button" data-loading-text="Loading..."
                                    class="btn btn-primary user-traffic-info-card__btn user-traffic-info-card__detail-btn-open">
                                Подробнее <i class="glyphicon glyphicon-arrow-down"></i>
                              </button>
                            <button type="button" data-loading-text="Loading..."
                                    class="btn btn-primary user-traffic-info-card__btn user-traffic-info-card__detail-btn-hide">
                                Скрыть <i class="glyphicon glyphicon-arrow-up"></i>
                              </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                <div class="user-traffic-info-card__detail traffic-detail">
                    <div class=" col-md-12 col-lg-12 ">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Дата и время</th>
                                <th scope="col">Объем трафика(байт)</th>
                            </tr>
                            </thead>
                            <tbody class="traffic-detail__table">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Конец карточки пользователя-->

</div>

</div>
</body>

<script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/moment/moment.min.js}"></script>
<script th:src="@{/resources/js/moment/moment-with-locales.min.js}"></script>
<script th:src="@{/resources/js/moment/ru.js}"></script>
<script th:src="@{/resources/js/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/resources/js/preloader/falconga_preloader.js}"></script>
<script th:src="@{/resources/js/main.js}"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker-start').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY HH:mm:ss'
        });
    });
    $(function () {
        $('#datetimepicker-end').datetimepicker({
            locale: 'ru',
            format: 'DD.MM.YYYY HH:mm:ss'
        });
    });
</script>
</html>